<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>owner订单</title>
</head>
<body>
<h1>owner订单</h1>

<div class="container">

    {% csrf_token %}
    <li><a href="/index/">返回上一页</a></li>
        {% for ride in ride_list %}
            <article class="media content-section">
            <div>
                <p class="article-content">arrival time: {{ ride.arrival_time_early }}</p>
                <p class="article-content">destination : {{ ride.destination }}</p>
                <a href="{% url 'rideDetail' ride.id %}">查看订单详情</a>
                <a href="{% url 'rideOwnerEdit' ride.id %}">编辑订单详情</a>
                <a href="{% url 'rideOwnerCancel' ride.id %}">取消当前订单</a>
            </div>
            </article>
        {% empty %} <li>您现在没有订单消息</li>
        {% endfor %}
</div> <!-- /container -->


</body>
</html>