<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>请求ride</title>
</head>
<body>
<h1>请求ride页面</h1>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
      <form class='form-rideRequest' action="/rideRequest/" method="post">

          {% csrf_token %}

          <h2 class="text-center">欢迎成为owner</h2>
          <div class="form-group">
              {{ ride_form.destination.label_tag }}
              {{ ride_form.destination}}
          </div>
          <div class="form-group">
              {{ ride_form.arrival_time.label_tag }}
              {{ ride_form.arrival_time}}
          </div>
          <div class="form-group">
              {{ ride_form.number_of_total_passengers.label_tag }}
              {{ ride_form.number_of_total_passengers }}
          </div>
          <div class="form-group">
            {{ ride_form.vehicle_type.label_tag }}
            {{ ride_form.vehicle_type }}
          </div>
          <div class="form-group">
            {{ ride_form.is_shared.label_tag }}
            {{ ride_form.is_shared }}
          </div>

          <button type="reset" class="btn btn-default pull-left">重置</button>
          <button type="submit" class="btn btn-primary pull-right">提交</button>

      </form>
    </div>
</div> <!-- /container -->


</body>
</html>