<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改ride</title>
</head>
<body>
<h1>修改sharer信息</h1>

<div class="container">
    <div class="col-md-4 col-md-offset-4">
      <form class='form-sharerEdit' action="{% url 'sharerEdit' id %}" method="post">

          {% csrf_token %}
          <li><a href="/sharerView/">返回上一页</a></li>
          <div class="form-group">
              {{ ride_form.number_of_total_passengers.label_tag }}
              {{ ride_form.number_of_total_passengers }}
          </div>


          <button type="reset" class="btn btn-default pull-left">重置</button>
          <button type="submit" class="btn btn-primary pull-right">提交</button>

      </form>
    </div>
</div> <!-- /container -->


</body>
</html>